$headerColor:#84bf96;
$headerHeight:50px;

$navMenuColor:#cde6c7;
$navMenuWidth:200px;
$navMenuTextColor:#1f1f1f;

$footerColor:#84bf96;
$footerHeight:50px;

:export{
  navMenuColor:$navMenuColor;
  navMenuTextColor:$navMenuTextColor;
}